.home-text{
  overflow: hidden;
  background: white;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 16px;
  align-items: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  overflow: hidden;
  background-color: white;
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px;
  width: 95%;
  margin: 14px auto;
  text-decoration: none;
  color: black;
  transition: .2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}

.card-brain:after {
  background-color: #ff87d7;
  border-radius: 8px;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: .2s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.card-brain:hover::after{
  transform: translate(0, 0);
}

.card-brain:hover {
  color: white;
  transform: scale(1.05);
  will-change: transform;
}

.card-brain-info {
  padding-top: 8px;
  text-align: center;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
