  <div class="banner">
    <div class="container" >
      <%= link_to brains_path, class: "banner-brand", style: "text-algign: center" do %>
        <%= image_tag("logo.png", alt: "Logo airbnBrain") %>
      <% end %>
    </div>
  </div>
