<div class="footer-content">
  <div class="footer-copyright">
    <p>AirbnBrain made with our <i class="fa-solid fa-heart fa-beat" ></i> & our <i class="fa-solid fa-brain fa-bounce" ></i> by Audrey, Leslie, Quentin & Niels</p>
  </div>
</div>
