  <div class="footer-content">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      AirbnBrain a été fait avec nos <i class="fa-solid fa-brain fa-beat" style="color: #ff87d7;"></i> et nos <i class="fa-solid fa-heart fa-bounce" style="color: #ff87d7;"></i> par Audrey, Leslie, Quentin & Niels
    </div>
  </div>
