<h1>AirBnBrain 🧠</h1>
<% if user_signed_in? %>
  <p> Bonjour <%= current_user.first_name %></p>
<% else %>
  <p> Connecte toi pour découvrir nos cerveaux ! 😃 </p>
<% end %>

<div class="container">
  <div class="row height d-flex justify-content-center align-items-center">
    <div class="col-md-8">
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          var typed = new Typed('#typed-text', {
            strings: ['Bienvenue sur AirBnBrain!', 'Choisis ton prochain Cerveau!.'],
            typeSpeed: 80,
            loop: true
          });
        });
      </script>
      <div id="typed-text"></div>
      <div class="search mb-4">
  <i class="fa fa-search"></i>
  <input type="text" class="form-control" id="searchInput" placeholder="CHERCHE UN CERVEAU">
  <button class="btn btn-primary mt-2">CHERCHE</button>
</div>

      <div class="d-flex justify-content-center align-items-center">
        <button class="btn custom-btn btn-lg mx-2" onclick="window.location.href = '/brains'">Mes cerveaux</button>
        <button class="btn custom-btn btn-lg mx-2" onclick="window.location.href = '/bookings'">Reserver un Cerveau</button>
      </div>
    </div>
  </div>
</div>
