
  <h2 class="home-text">
    Tonight, I'm gonna
    <span class="typed">...</span>
    <span id="typed-cursor">|</span>
  </h2>


<div class="container">
  <div class="cards">
    <div class="card-category">
      ...be a chef
    </div>

    <div class="card-category">
      ...be a historian
    </div>

    <div class="card-category">
      ...be a humorist
    </div>

    <div class="card-category">
      ...be a scientist
  </div>
</div>
