.brains_index{
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  border-radius: 4px;
  align-items: center;
  padding: 16px;
  text-align: center;
}
