.card-brain {
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: auto;
  border-radius: 8px;
  padding: 16px;
  width: 95%;
  margin: 14px auto;
  text-decoration: none;
  color: black;
  transition: .2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}

.card-brain:after {
  background-color: #ff87d7;
  border-radius: 8px;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: .2s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.card-brain:hover::after{
  transform: translate(0, 0);
}

.card-brain:hover {
  color: white;
  transform: scale(1.05);
  will-change: transform;
}

.card-brain img {
  height: 160px;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.card-brain-info {
  padding-top: 8px;
  text-align: center;
}

.card-brain h2 {
  font-size: 25px;
  font-weight: bold;
}

.card-brain p {
  font-size: 16px;
  opacity: .7;
  position: relative;
  bottom: -27px;
}

.card-brain-show {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 5px 15px;
  border-radius: 4px;
}

.card-brain-show img {
  height: 100%;
  width: 330px;
  object-fit: cover;
  padding-right: 10px;
}

.card-brain-show h2 {
  font-size: 25px;
  font-weight: bold;
}

.card-brain-show #price {
  font-size: 16px;
  opacity: .7;
  bottom: -27px;
}

.card-brain-show #calendar {
  color: rgb(255, 135, 215);
  position: absolute;
  right: 14px;
  top: 325px;
  width: 40px;
}

.card-booking {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 15px auto;
  border-radius: 4px;
  width: 200px;
  padding: 15px 5px;
  text-align: center;
}
