.card-brain {
  overflow: hidden;
  display: flex;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  height: auto;
  border-radius: 4px;
  align-items: center;
  padding: 16px;
  width: 95%;
  margin: 14px auto;
}

.card-brain img {
  height: 180px;
  width: 180px;
  object-fit: cover;
  padding-right: 16px;
}

.card-brain h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.card-brain p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
  text-align: justify;
}

.card-brain .card-brain-infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-brain-infos .card-brain-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
