.cards-brains {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  width: auto;
  margin: auto 15px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 767px) {
  .cards-brains {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  .cards-brains {
    grid-template-columns: 1fr 1fr;
  }
}

.dashboard-cards {
  display: flex;
  justify-content: center;
}
