.footer {
  display: block;
  float: left;
  width: 100%;
  clear: both;
  position: relative;
  bottom: 0;
  background: white;
  color: rgba(0,0,0,0.3);
  padding-top: 20px;
  justify-content: center;
  align-items: center;

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-copyright {
    p {
      font-size: 13px;
    }
  }
  .footer .fa-heart .fa-brain {
    color: rgb(255, 135, 215);
  }
}
