// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

html, body {
  box-sizing: border-box;
  // height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  // min-height: 100%;
  display: flex;
  flex-direction: column;
}
.header, .footer {
  // flex-grow: 0;
  // flex-shrink: 0;
}

.content {
  // flex-grow: 1;
}

.footer{
  position: relative;
  bottom:0;
}


@import "pages/home";
